.navbar-logo {
  font-size: 24px;
  line-height: 16pt;
  color: white;

  margin-right: 10%;
}

.navbar-logo > span {
  font-size: 16px;
}

.navbar {
  background-color: #fed300;
}

.nav-link {
  color: white !important;
}

.wish {
  border: 3px outset;
  margin: 15px 30% 0px 15%;
  max-width: 70vw;
}

.wishStatus {
  color: lime;
  font-size: 90%;
}

.wishUser {
  font-size: 90%;
}

.wishTitle {
  font-size: 150%;
}

.wishDescription {
  border: 3px inset;
  padding: 10px 10px 10px 10px;
  width: 90%;
  text-overflow: ellipsis;
  margin: 10px 10px 10px 10px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.wishButtons {
  display: flex;
}

.wishButtons > .btn, .wishButtons > form > input{
  margin-right: 5px;
}

.upvote {
  background-color: white;
  /* margin: 10px 10px 10px 10px;
  */
  margin-top: 6px;

  border: 1px solid silver;
  min-width: 40px;
  min-height: 40px;
  background-image: url(/static/upvote.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
