{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td>
	       {{ form.username.label }}
      </td>
      <td>
	       {{ form.username }}
      </td>
      <td>
    	  <ul>
    	    {% for error in form.name.errors %}
    	      <li>{{ error }}</li>
    	    {% endfor %}
    	  </ul>
    	</td>
    </tr>
    <tr>
      <td>
	       {{ form.name.label }}
      </td>
      <td>
	       {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
	       {{ form.password.label }}
      </td>
      <td>
	       {{ form.password }}
      </td>
        <p style="font-size: 80%">
          DISCLAIMER: Application is in development and passwords are stored in PLAINTEXT.
          <br>
          Do not use a password you use anywhere else.
          <br>
          <span style="font-size: 70%">
            (not that you would ever do that. Consider getting a password manager?)
          </span>
        </p>
    </tr>
    <tr>
      <td colspan="2">
	       <input type="submit" value="Register"/>
      </td>
    </tr>
</form>
{% endblock %}
