{% extends "layout.html" %}

{% block body %}
  {% if wishes|length == 0 %}
  <p>No wishes. <a href="{{ url_for('wishes_form')}}">Would you like to create one? </a></p>
  {% else %}

  <table>
    {% for wish in wishes %}
    <div class="wish card">
      <span class="card-header wishTitle">
        <button class="upvote"></button>
        <a href="{{ url_for('single_wish_page', wish_id=wish.id) }}" > {{ wish.name }} </a>
        <!--{{ wish.name }}-->
      </span>
      <span class="card-body">
        <span class="card-text">
          {{ wish.details }}
        </span>
        <br><br>
        <span class="wishUser">
          Posted by: fixthis
          <!-- TODO: match this to all wishes???  wishAuthor.name }}-->
          <!-- get author by wish.account_id -->
        </span>
        <span class="wishStatus">
          {% if wish.approved %}
          , Approved!
          {% endif %}
        </span>
        <!--td>{{ wish.fulfilled }}</td-->
        <span class="wishButtons">
          {% if current_user.id == wish.account_id or current_user.admin == 1 %}
            {% if current_user.admin == 1 %}
              {% if not wish.approved %}
                <form method="POST" action="{{ url_for('wishes_set_approved', wish_id=wish.id) }}">
                  <input class="btn btn-success" type="submit" value="Approve!"/>
                </form>
              {% else %}
                <form method="POST" action="{{ url_for('wishes_undo_approved', wish_id=wish.id) }}">
                  <input class="btn btn-warning" type="submit" value="Undo approve"/>
                </form>
              {% endif %}
            {% endif %}

            <form method="GET" action="{{ url_for('wishes_edit', wish_id=wish.id) }}">
              <input class="btn btn-primary" type="submit" value="Edit"/>
            </form>

            <form method="POST" action="{{ url_for('wishes_delete', wish_id=wish.id) }}">
              <input class="btn btn-danger" type="submit" value="DELETE"/>
            </form>
          {% endif %}
        <!-- TODO: add button to mark wishes as fulfilled -->
        </span>
        <!-- TODO: add button to mark wishes as fulfilled -->
      </span>
    </div>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
