{% extends "layout.html" %}

{% block body %}
  {% if wishes|length == 0 %}
  <p>No wishes. <a href="{{ url_for('wishes_form')}}">Would you like to create one? </a></p>
  {% else %}
  <table>
    <tr>
      <th>Wish</th>
      <th>Approved</th>
      <!--th>Fulfilled</th-->
    </tr>
    {% for wish in wishes %}
    <tr>
      <td>{{ wish.name }}</td>
      <td>{{ wish.approved }}</td>
      <!--td>{{ wish.fulfilled }}</td-->
      <td>
        <form method="POST" action="{{ url_for('wishes_set_approved', wish_id=wish.id) }}">
          <input type="submit" value="Approve!"/>
        </form>
      </td>
      <!-- TODO: add button to mark wishes as fulfilled -->
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
